.env
dist
node_modules
*.log
.vscode
coverage/
output/
input/
processed/
.maloomscan/
.kodrdriv*
outdiff
outlog
pnpm-workspace.yaml
package-lock.json
tsconfig.tsbuildinfo
tsconfig (1).tsbuildinfo
*~
.DS_Store
